.container {
  width: 80%;
  margin: auto;
  overflow: auto;
}

.align-center {
  text-align: center;
}

input[type='button'] {
  width: 60px;
}

.todo-width {
  width: 500px;
}

.form-group {
  display: flex;
  justify-content: space-evenly;
  width: 300px;
}

.form-control {
  width: 200px;
}

td:nth-child(2), th:nth-child(2) {
  min-width: 300px;
}